*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* Variables */
:root {
  --whitecolour: #f1f1f1;
  --backgroundcolour-dark: #081c3e;
  --primarycolour: #1081e9;
  --secondarycolour: #0e3270;
  --primaryfont: ;
  --secondaryfont: ;
}

body{
  background-color: var(--backgroundcolour-dark);
  color: aliceblue;
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  font-size: 20px;
  margin: 25px 10px;
}

.nav-list{
  display: flex;
  justify-content: center;
}

.nav-element{
  display: inline;
  margin: 10px 20px;
}

.nav-element .nav-link{
  color: var(--whitecolour);
}

.login-button{
  margin: 5px 100px;
}

.login-button a{
  background-color: var(--whitecolour);
  color: #081c3e;
  padding: 8px 15px;
  border-radius: 8px;
  position: absolute;
  right: 30px;
}

.landing{
  height: 100%;
  width: 100%;
}

.title{
  text-align: center;
  font-size: 80px;
  margin-top: 200px;
  margin-left: 20px;
}

.subheading{
  text-align: center;
  margin: 10px;
}

.search{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.searcharea{
  width: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 30%;
  background-color: #caddff7e;
  border-radius: 20px;
}

#searchbar{
  padding: 10px;
  width: 100%;
  margin: 0px 5px;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  caret-color: #081c3e;
  font-size: 24px;
  color: var(--whitecolour);
}

/* #searchbar:hover{
  box-shadow: 0px 0px 5px 2px  var(--primarycolour);
} */

.searchbtn{
  padding: 10px 20px;
  background-color: var(--whitecolour);
  border-radius: 12px;
  color: var(--backgroundcolour-dark);
  border: none;
  font-size: 24px;
  font-family:Arial, Helvetica, sans-serif ;
  cursor: pointer;
  font-weight: bold;
}

